<section class="pricing-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>
                Chose a Best Plan for your <br />
                vehicle
            </h2>
            <div class="text">
                We are a professional and creative company and we offer <br />
                you a trusty insurance on your veicle.
            </div>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-7">
                <div data-depth="0.20" class="icon-layer"
                    style="background-image: url(~/customer-assets/images/icons/icon-1.png)"></div>
                <div data-depth="0.40" class="pattern-layer"
                    style="background-image: url(~/customer-assets/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Price Block -->
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box"
                            style="background-image: url(~/customer-assets/images/resource/price.png)">
                            <h4>Basic</h4>
                        </div>
                        <div class="price">$50<span>/ Years</span></div>
                        <ul class="team-info-list">
                            <li>
                                <img src="~/customer-assets/images/checkno.svg" alt="" srcset="">
                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkno.svg" alt="" srcset="">

                                Own Damage by own fault
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkno.svg" alt="" srcset="">

                                Damage due to fire
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                        </ul>
                        <div class="buton-box text-center">
                            <a class="btn-style-one theme-btn" asp-action="Index" asp-controller="Contact"><span class="txt">choose plan
                                    <i class="fas fa-chevron-circle-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- Price Block -->
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box"
                            style="background-image: url(~/customer-assets/images/resource/price.png)">
                            <h4>standard</h4>
                        </div>
                        <div class="price">$70<span>/ Years</span></div>
                        <ul class="team-info-list">
                            <li>
                                <img src="~/customer-assets/images/checkno.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkno.svg" alt="" srcset="">

                                Own Damage by own fault
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage due to fire
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                        </ul>
                        <div class="buton-box text-center">
                            <a class="btn-style-one theme-btn" asp-action="Index" asp-controller="Contact"><span class="txt">choose plan
                                    <i class="fas fa-chevron-circle-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- Price Block -->
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box"
                            style="background-image: url(~/customer-assets/images/resource/price.png)">
                            <h4>premium</h4>
                        </div>
                        <div class="price">$90<span>/ Years</span></div>
                        <ul class="team-info-list">
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Own Damage by own fault
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage due to fire
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                            <li>
                                <img src="~/customer-assets/images/checkyes.svg" alt="" srcset="">

                                Damage third-party vehicle
                            </li>
                        </ul>
                        <div class="buton-box text-center">
                            <a class="btn-style-one theme-btn" asp-action="Index" asp-controller="Contact"><span class="txt">choose plan
                                    <i class="fas fa-chevron-circle-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>