<!-- Page Title -->
<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="~/customer-assets/images/background/header-left-bg.png" alt="" />
        <img class="right-image" class="right-image" src="~/customer-assets/images/background/4.jpg" alt="" />
    </div>
    <div class="service-container">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-8.png")')">
            </div>
        </div>

        <div class="auto-container">
            <h1>Forgot Password</h1>
            <ul class="page-breadcrumb">
                <li>Account</li>
                <li>Forgot Password</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<!-- Forgot Password Form Section -->
<section class="login-section style-two">
    <div class="auto-container">
        <div class="login-box">

            <!-- Display Warning Message if TempData["WarningMessage"] is not null -->
            @if (TempData["WarningMessage"] != null)
            {
                <div class="alert alert-warning">
                    @TempData["WarningMessage"]
                </div>
            }

            <div class="title-box">
                <h2>Forgot Password</h2>
                <div class="text">
                    Please enter your email address, we will send you a new password
                </div>
            </div>

            <!-- Form Box -->
            <div class="form-box">
                <div class="styled-form">
                    <!-- Forgot Password Form -->
                    <form method="post" asp-action="SendMail" asp-controller="ForgotPasswordEmail">
                        <div class="form-group">
                            <label>Enter your Email</label>
                            <span class="icon flaticon-envelope"></span>
                            <input type="email" name="email" placeholder="Enter your email" required />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-one">
                                <span class="txt" style="text-align: center;">Send<i
                                        class="fa fa-arrow-right"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Email Send Partial -->
@await Html.PartialAsync("_SendMail")
